{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block judul_halaman %}

		{% endblock judul_halaman %}
	</title>
	{% include "snippets/styles.html" %}
	{% block ext %}

	{% endblock %}

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Tweet Hashtag Analysis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' 1 %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buat
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'stream_tweet:online' %}">online</a>
          <a class="dropdown-item" href="{% url 'stream_tweet:file' %}">offline / file</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:manage' %}">atur</a>
      </li>
  </div>
  </nav>

	<div class="container" style="margin-top:50px">
		{% block isi %}

		{% endblock isi %}
	</div>
	{% block bebas %}

	{% endblock %}
	{% include "snippets/scripts.html" %}
</body>
</html>
